<%= simple_form_for(@pin, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  	<%= f.input :image, label: "Upload an Image" %>
  	<%= f.input :image_remote_url, label: "or enter a URL" %>
  	<div style = "position:relative; left: 180px; color:darkgray; font-weight:900"> Characters left: 26 </div>
    <%= f.input :headline, as: :string, input_html: {maxlength: "26"} %>
    <%= f.button :submit, class: "btn btn-primary" %>
 
<% end %>
