<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<%= image_tag @pin.image %>
			<div class="headline">
				<p>
				  <%= @pin.headline %>
				</p>
				<p>
				  <%= link_to @pin.user.name, @pin.user %>
				</p>
				<% if current_user == @pin.user %>
				<%= link_to 'Edit', edit_pin_path(@pin) %> |
				<%= link_to 'Delete', @pin, method: :delete, data: { confirm: 'Are you sure?' } %> |
				<%= link_to 'Home', pins_path %>
				<% end %>
			</div>
		</div>
	</div>
</div>